<mat-nav-list>
  <a mat-list-item routerLink="/register-alumn" (click)="onClose()">
    <mat-icon>how_to_reg</mat-icon>
    <span class="navigation-list-label">Alumnos</span>
  </a>
  <a mat-list-item routerLink="/register-course" (click)="onClose()">
    <mat-icon>collections_bookmark</mat-icon>
    <span class="navigation-list-label">Cursos</span>
  </a>
  <a mat-list-item routerLink="/inscription" (click)="onClose()">
    <mat-icon>checklist_rtl</mat-icon>
    <span class="navigation-list-label">Inscripciones</span>
  </a>
</mat-nav-list>
