<mat-toolbar color="basic">
  <button mat-icon-button (click)="onMenuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Listado de alumnos</span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="15px" class="navigation-menu">
      <li *ngIf="!userState"><a routerLink="/register" routerLinkActive="active">Registro</a></li>
      <li *ngIf="!userState"><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="userState"><a routerLink="/alumns" routerLinkActive="active">Alumnos</a></li>
      <li *ngIf="userState"><a routerLink="/courses" routerLinkActive="active">Cursos</a></li>
      <li *ngIf="userState"><a routerLink="/inscription" routerLinkActive="active">Inscripciones</a></li>
      <li (click)="logout()" *ngIf="userState"><a routerLink="/">Salir</a></li>
    </ul>
  </div>
</mat-toolbar>
