<form [formGroup]="form"
      (ngSubmit)="saveChanges()">
      <mat-dialog-content>
        <section fxLayoutAlign="center">
          <mat-card fxFlex="100%">
            <div fxLayout="column"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  >
            </div>
            <mat-form-field style="width: 100%">
              <mat-label>Nombre del curso</mat-label>
              <input type="text" matInput formControlName="name" [(ngModel)]="data.Name" required>
              <mat-error>Debe ingresar nombre</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <mat-label>Descripción del curso</mat-label>
              <input type="text" matInput formControlName="description" [(ngModel)]="data.Description" required>
              <mat-error>Debe ingresar descripción</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <mat-label>Nombre del profesor</mat-label>
              <input type="text" matInput formControlName="teacher" [(ngModel)]="data.Teacher" required>
              <mat-error>Debe ingresar profesor</mat-error>
            </mat-form-field>
          </mat-card>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Cerrar</button>
        <button mat-button type="submit" [disabled]="form.invalid">Guardar</button>
      </mat-dialog-actions>
</form>
