<form [formGroup]="form"
      (ngSubmit)="saveAlumn()">
      <h1 mat-dialog-title>Editar Alumno</h1>
      <mat-dialog-content>
        <section fxLayoutAlign="center">
          <mat-card fxFlex="100%">
            <div fxLayout="column"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  >
                  <mat-form-field style="width: 100%">
                    <mat-label> Código de estudiante</mat-label>
                    <input type="text" matInput formControlName="code" [(ngModel)]='data.Code' required>
                    <mat-error>Debe ingresar código</mat-error>
                  </mat-form-field>
              <mat-form-field style="width: 100%">
                <mat-label> Nombre completo (Nombres y apellidos)</mat-label>
                <input type="text" matInput formControlName="fullName" [(ngModel)]='data.FullName'  required>
                <mat-error>Debe ingresar nombre</mat-error>
              </mat-form-field>
              <mat-form-field style="width: 100%">
                <mat-label> Email </mat-label>
                <input type="email" matInput formControlName="email" [(ngModel)]='data.Email' required>
                <mat-error>Debe ingresar email</mat-error>
              </mat-form-field>
              <mat-form-field style="width: 100%">
                <mat-label> Identificación </mat-label>
                <input type="text" matInput formControlName="identification" [(ngModel)]='data.Identification' required>
                <mat-error>Debe ingresar identificación</mat-error>
              </mat-form-field>
              <!-- <mat-form-field style="width: 100%">
                <mat-label>Cursos inscritos</mat-label>
                <mat-list *ngFor="let course of data.Courses">
                  <mat-list-item>{{ course.name }}</mat-list-item>
                </mat-list>
              </mat-form-field> -->
            </div>
          </mat-card>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Cerrar</button>
        <button mat-button type="submit">Guardar</button>
      </mat-dialog-actions>
</form>

