<mat-card>
  <mat-card-header>
      <mat-card-title>
          <h3>{{ course.Name | uppercase }}</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>{{ course.Description }}</p>
      </mat-card-content>
      <mat-card-actions>
          <button (click)="removeCourse(course.CourseId)" mat-raised-button color="warn"> Eliminar </button>
          <button (click)="editCourse(course)" mat-raised-button color="primary"> Editar </button>
      </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
