<section>
  <form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="center center"
    (ngSubmit)="registerUser()"
  >
  <h1 mat-dialog-title>Registro de usuario</h1>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="First Name"
        ngModel
        formControlName="firstName"
        required
      />
      <mat-error>Debe ingresar nombre</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Last Name"
        ngModel
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        ngModel
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email"
        ngModel
        formControlName="email"
        email
        required
      />
      <mat-error>Debe ingresar email</mat-error>
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </form>
</section>
